/* CORES F20530 403BBC 4B50BF 0E1126 111530 */

/* Reset Inicial */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: #111530;
}

.container {
    max-width: 1200px;
    height: auto;
    margin: 0 auto;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 0 0 0;
}

.logo {
    display: flex;
    color: #fff;
    font-size: 40px;
    transition: 1s;
}

.logo:hover {
    color: #52A5D9;
    cursor: pointer;
}

.ul-container {
    list-style: none;
    display: flex;
}

.ul-container li a {
    margin-right: 67px;
    text-decoration: none;
    color: #ccc;
    font-size: 13px;
    transition: 1s;
}

.flex-li {
    display: flex;
}

.ul-container li a:hover {
    color: #52A5D9;
}

.btn-contact {
    background-color: #4B80CE;
    width: 90px;
    height: 30px;
    padding: 0.5rem 1rem;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    margin-top: -8px;
}


/*apresentation*/

.apresentation {
    margin-top: 150px;
    font-size: 40px;
    color: #ccc;
    letter-spacing: 5px;
    margin-left: 50px;
}

.apresentation h1 {
    font-size: 25px;
    margin-bottom: 10px;
    letter-spacing: 3px;
}

.apresentation a {
    letter-spacing: 2px;
}

.apresentation .btn-previous {
    background-color: #4B80CE;

    padding: 15px;
    color: #fff;
    cursor: pointer;

    text-decoration: none;
    font-size: 10px;
    transition: 1s;
    border-radius: 5px;
}

.apresentation .btn-previous:hover {
    color: #FFF;
    border: 1px solid #FFF;
    background-color: #111530;
}

/* About me */

.box-picture {
    width: 250px;
    height: 250px;
    border: 5px solid #52A5D9;
    margin-top: 200px;
    margin-left: 90px;
    border-radius: 5px;
}

.about-me {
    display: flex;
}

.description-about-me {
    max-width: 600px;
    margin: 0 auto;
    margin-top: 200px;
}

.about-color {
    color: #ccc;
    margin: 10px 0 40px 0;
}

.box-img {
    background-image: url("../img/minha-img.jpeg");
    width: 250px;
    height: 250px;
    background-size: cover;
    margin: -1.7rem;
    border-radius: 5px;
}

.btn-hire-me {
    background-color: #4B80CE;
    padding: 20px;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    font-size: 20px;
    transition: 1s;
    border-radius: 5px;
}

.btn-hire-me a {
    margin-top: 30px;
}

.portifolio {
    margin-top: 100px;
    text-align: center;
}

.portifolio li {
    list-style: none;
}

.portifolio h2 {
    color: #ccc;
}

.ul-portifolio {
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}

.ul-portifolio a {
    color: #ccc;
    text-decoration: none;
    transition: 0.5s;
}

.ul-portifolio a:hover {
    color: #52A5D9;
    border-bottom: 2px solid #4B80CE;
}

.project-right {
    display: flex;
}


.box-picture-project-right {
    /* Este é a borda azul*/
    width: 250px;
    height: 250px;
    border: 5px solid #52A5D9;
    margin-top: 100px;
    margin-right: 90px;
    border-radius: 5px;
}

.box-img-project-right {
    /* Nesta vai a imagem*/
    background-image: url("../img/conecta-pro.PNG");
    width: 250px;
    height: 250px;
    background-size: cover;

    margin: -25px 0 0 15px;
    border-radius: 5px;
}

.title-project-right {

    color: #4B80CE;
    margin: 100px 0 10px 50px;
}

h3 {
    color: #ccc;
    margin: 0 0 10px 50px;
}


.description-project-rigth {

    color: #888;
    margin-left: 50px;
}

.visit-project-rigth {

    text-decoration: none;
    width: 100px;
    height: 30px;
    transition: 1s;
    padding: 10px;
    color: #fff;
    margin: 2rem;
}

.margin-btn-project {
    margin: 2rem;
}

.visit-project-left:hover {
    color: #52A5D9;
}


/* SERVICES */

.services-container {
    text-align: center;
    margin-top: 100px;
    color: #ccc;
}

.service-box {
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    gap: 30px;
    flex-wrap: wrap;
}

.box {
    width: 300px;
    height: auto;
    border: 2px solid #52A5D9;
    border-radius: 5px;


}



.fa-solid {
    font-size: 50px;
    display: flex;
    margin: 20px 0 0 15px;
    border-bottom: 2px solid #4B80CE;
    width: 60px;
    border-radius: 50px;
    color: #52A5D9;

}

h4 {
    display: flex;
    justify-content: flex-end;
    margin: -35px 10px 0 0;
    font-weight: bold;
}

.description-service {
    margin-top: 10px;
    padding: 1rem;
    text-align: justify;
}

.description-manut {
    margin-right: 30px;
}

.description-app {
    margin-right: 60px;
}

.description-site {
    margin-right: 30px;
}